[submodule "icinga-check-rabbitmq"]
	path = icinga-check-rabbitmq
	url = https://github.com/sol1/icinga-check-rabbitmq.git
[submodule "icinga2-notifyRT"]
	path = icinga2-notifyRT
	url = https://github.com/sol1/icinga2-notifyRT.git
